<footer class="demo-footer mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    Made with &lt;3 on
    <a href="https://github.com/comune-desio/biblioteca">GitHub</a>
  </div>
</footer>
